*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@font-face{
    font-family: Lato;
    src: url(../fontfamily/Lato-Black.ttf);
}

@font-face{
    font-family: Lato-Light;
    src: url(../fontfamily/Lato-Regular.ttf)
}


/* ---------------------------Navbar-----------------------> */
.navbar{
    width: 100%;
    height: auto;
    background-color: rgb(20, 25, 34);
}

.navbar img{
    width: 8%;
    padding: 1%;
    
}

/* -------------------------------MainHeader------------------> */

.mainhead{
    width: 100%;
    height: auto;
    display: flex;
    
}


.mainheadinners{
    flex-basis: 50%;
    position: relative;
}

.mainhead :first-child{
    background-color: rgb(36, 47, 62);
}

.inners1 i{
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
}

.inners1 {
    display: flex;
    gap: 10px;
    font-family: Lato;
    margin: 15px 35px;
    color: rgb(165, 170, 176);
}

.inners2{
    text-align: center;
    font-size: 23px;
    color: white;
    padding: 15% 0;
}

.inners2 h1 {
    font-family: Lato;
    margin-bottom: 20px;
    font-size: clamp(25px, 3vw, 52px);
}

.inners2 p {
    font-family: Lato-light;
    font-size: clamp(18px, 1.75vw, 24px);
}

.inners3{
    display: flex;
    gap: 10px;
    font-family: Lato-Light;
    margin: 15px 35px;
    color: white;
}

.inners3 i{
    color: white;
}

.inners3_1 a{
    cursor: pointer;
    color: rgb(165, 170, 176);;
}

.iconsircle{
    height: 25px;
    width: 25px;
    border: 2px solid white;
    border-radius: 50%;
    color: white;
    background-color: white;
    text-align: center;
}

.mainheadinners img{
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    
}

@media(max-width: 1000px){

    .container1inners2_1 {
        width: 100%;
        margin: 0 30px;
    }

    .inners2{
        padding: 2% 0;
    }

    .inners1{
        justify-content: flex-end !important;
    }

    .inners3{
        justify-content: flex-start;
    }
    .mainhead{
        flex-wrap: wrap;
    }
    .mainheadinners{
       flex-basis: 100%;
    }

    .inners2 p{
        width: 90%;
        height: 30px;
        font-family: Lato;
        background-color: white;
        color: black;
        margin: auto;
        padding: 43px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 7px;
    }
}



/* -------------------------------sections------------------> */
form{
    width: 100%;
}

a{
    text-decoration: none;
}
.container{
    width: 100%;
    height: auto;
}

.container1{
   
    max-width: calc(1200px + 30px);
    height: auto;
    border: 1px solid black;
    border-radius: 10px;
    margin: auto;
    margin-top: 110px;
    position: relative;
}

.all{
    display: flex;
}

.inners1 p{
    color: white;
    font-size: 15px;
    font-family: Lato-Light;
}

.container1inners10{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.ranking{
    background-color: rgb(36, 47, 62);
    border-radius: 10px 0 25px 0;
    width: 100px;
    height: auto;
}

.ranking h2{
    color: rgb(255, 166, 34);
    font-family: Lato;
    text-align: center;
    font-size: 30px;
    padding-top: 5px;
}

.ranking p{
    color: white;
    font-family: Lato;
    font-size: 15px;
    padding: 6px 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.cr1{
    width: 100% ;
}

.CR{
    
    width: 322px;
    height: 77px;
    background-color: rgb(36, 47, 62);
    margin: -20px;
    border-radius: 8px;
    position: relative;
}

.CR5{
    width: 20px;
    height: 19px;
    background: rgb(36, 47, 62);
    order: -1;
    position: absolute;
    left: -6px;
    top: 2px;
    transform: skewX(321deg);
    border-top-left-radius: 2px;
}

.CR p{
    color: white;
    padding-top: 15px;
    font-family: Lato;
    text-align: center;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.CR h2{
    color: white;
    font-family: Lato;
    padding-bottom: 15px;
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.container1inners{
    width: 100%;
    display: flex;
    justify-content: center;
}
.containertogether{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
}

.container1inners1{
    flex-basis: 33%;
    max-width: 33%;
}

.container1inners2{
    flex-basis: 33%;
    max-width: 33%;
}

.container1inners2_1{
    width: 70%;
    margin: auto;
}


.container1inners3{
    flex-basis: 33%;
    max-width: 33%;
}

.container1inners3_3{
    display: none;
}

.container1inners1 img{
    display: flex;
    margin: auto;
    padding: 10px 0;
}

.container1inners1 h4{
    text-align: center;
    font-family: Lato;
    
}

.mymainimg1{
    display: none;
}

.img1 {
    width: 70%;
    padding: 15px 0;
}

.img2{
    width: 40%;
    
}

.img3{
    width: 100%;
}

.container1inners1 a{
    text-decoration: none;
}

.myh2{
    font-family: Lato;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 20px;
    color: black;
    text-decoration: underline;
    
}

.icontext{
    font-family: Lato-light;
    display: flex;
    justify-content: flex-start;
    padding: 5px;
    gap: 10px;
    cursor: pointer;
    font-size: 24px;
}

.icontext a h6{
    color: #323438;
    font-family: Lato-Light;
}

.accessories{
    width: 100%;
    height: auto;
    border: 2px solid #dfdede;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 15px;
}

.sleepinfo{
    color: rgb(89, 90, 93);
    font-family: Lato;
    text-align: center;
    font-size: 20px;
}

.puffysale{
    text-align: center;
    font-family: Lato;
    color: #e17d22;
    margin: 15px 0;
    letter-spacing: 1px;
    font-size: clamp(16px, 3.7593984962vw, 20px);
}


.accessories h3{
    text-align: center;
    font-size: 13px;
    font-family: Lato;
    color: rgb(89, 90, 93);
    margin: 5px 0;
}

.accessories img {
    width: 30%;
}

.h3ofsleep{
    text-align: center;
    font-family: Lato;
    color: rgb(89, 90, 93);
    font-size: 21px;
    margin-top: 5px;
}

.accessoriesimg{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 15px;
    width: 100%;
    line-height: 16px;
}

.accimgs{
    flex-basis: 33%;
    max-width: 33%;
    padding: 4px;
}

.accimgs img{
    width: 100%;
    height: 100%;
    padding: 10px;
}

.accimgs a{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.btn{
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn a{
    width: 100%;
}

.container1inners3 button{
    margin: 25px 0;
    background-color: rgb(225, 125, 34);
    color: white;
    padding: 15px;
    width: 100%;
    font-size: 25px;
    border: 0;
    border-radius: 15px;
    cursor: pointer;

}

.acch1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Lato;
    
}

.acch1 a{
    color: #273549;
}

.acch1 h2{
    text-decoration: underline;
    margin-bottom: 15px;
}

.acch1 a h2:hover{
    text-decoration: none !important;
}


.horizontalline{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.horizonmobile{
    display: none;
    color: rgb(255, 166, 34);
    font-family: Lato;
    font-size: 10px;
    text-align: center;
    margin: 15px;
}

.horizonmobile{
    display: none;
}



.horizontalline h2 {
    width: 90%; 
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgb(204, 198, 198); 
    line-height: 0.1em;
    margin: 10px 0 20px; 
    position: relative;

 } 

 .horizontalline i{
     line-height: 0.1em;
 }

 
 .horizontalline h2 span { 
     
     background-color: white;
     color: rgb(255, 166, 34);
     padding: 0 10px; 
     font-size: 20px;
     position: absolute;
 }

 .reviews{
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    margin: 15px;
    gap: 15px;
 }

 .lines{
     display: none;
     width: 100%;
     margin: 15px 0;
 }

 .lines hr{
    border: 1px solid rgb(204, 198, 198);;
 }

 .container1inners4{
     width: 90%;
     margin: auto;
     display: flex;
     justify-content: space-around;
 }

 #information{
     width: 100%;
     display: none;
 }

 #information1{
    width: 100%;
    display: none;
}

#information2{
    width: 100%;
    display: none;
}

#information3{
    width: 100%;
    display: none;
}

#information4{
    width: 100%;
    display: none;
}

#information5{
    width: 100%;
    display: none;
}

#information6{
    width: 100%;
    display: none;
}

#information7{
    width: 100%;
    display: none;
}

#information8{
    width: 100%;
    display: none;
}

#information9{
    width: 100%;
    display: none;
}

#information10{
    width: 100%;
    display: none;
}

 .readinfo1{
     width: 100%;
     height: auto;
     display: flex;
     position: relative;
 }

 #readinfo2{
    width: 169px;
    height: 35px;
    display: flex;
    background-color: rgb(39, 53, 73);
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 1px;
    border-radius: 0px 0px 15px 15px;
    cursor: pointer;

 }

 .readbutton{
     background-color: rgb(36, 47, 62);
     color: white;
     font-family: Lato;
     margin: auto;
     padding: 5px;
     border: 0px;
     cursor: pointer;
 }

 .readbutton1{
    background-color: rgb(36, 47, 62);
    color: white;
    font-family: Lato;
    margin: auto;
    padding: 5px;
    border: 0px;
    cursor: pointer;
}

.readbutton2{
    background-color: rgb(36, 47, 62);
    color: white;
    font-family: Lato;
    margin: auto;
    padding: 5px;
    border: 0px;
    cursor: pointer;
}

.readbutton3{
    background-color: rgb(36, 47, 62);
    color: white;
    font-family: Lato;
    margin: auto;
    padding: 5px;
    border: 0px;
    cursor: pointer;
}

.readbutton4{
    background-color: rgb(36, 47, 62);
    color: white;
    font-family: Lato;
    margin: auto;
    padding: 5px;
    border: 0px;
    cursor: pointer;
}

 .information2{
    margin: 55px 50px;
 }

 .info1{
     display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
 }

 .information2 h1{
     font-family: Lato;
     font-size: 20px;
     color: rgb(50, 52, 56);
     margin: 15px 0;
 }

 .information2 p {
     color: #000;
     font-family: Lato-Light;
     font-size: 15px 0;
     
    
 }

 .reviewimgs img{
    height: 100%;
    width: 100%;
    object-fit: cover; 
    margin-top: 25px;
    border-radius: 5px;
 }

 .reviewscont{
    color: #323438;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 15px;
    flex-basis: 60%;
 }

 .reviewimgs{
    height: 65%;
    border-radius: 5px;
    flex-basis: 40%;
    overflow: hidden;
 }



 .reviewscont h3{
     font-family: Lato;
     margin: 8px 0;
 }

 .reviewscont p{
     font-family: Lato-light;
 }


 .container3{
     width: 100%;
     height: auto;
     margin: 85px 0;
 }

 .container3inner{
     width: 80%;
     margin: auto;
     border: 3px solid black;
     height: auto;
     border-radius: 15px;
     
 }

 .container3inner h1{
     color: rgb(39, 53, 73);
     font-family: Lato;
     text-align: center;
     margin: 5% 0;
     font-size: 45px;
 }


 table, tr, td{
     border: 1px solid;
 }

 table{
     margin: 7% 2%;
     border-collapse: collapse;

     
 }

 .non{
    background: white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-top: 1px solid white;
    background-color: white !important;
 }

 .non2{
    background-color: white !important;
    border-left: 1px solid white;
    border-bottom: 1px solid white;


     
 }

 tr td:nth-child(odd){
     background-color: rgb(241, 235, 235);      
 }

 tr td:first-child{
     position: sticky;
     left: 0;
     z-index: 100 !important;
     width: 12%;
 }

 .tablee{
     overflow: auto;
 }

tr{
    height: 70px;
}

 td{
     width: 5%;
     padding: 5px;
     text-align: center;
     font-family: Lato;
     line-height: 30px;
     position: relative;
     border: 1px solid rgb(225, 225, 225);
     
 }

 .td1{
    width: 5%;
    height: 130px;
    text-align: center;
    font-family: Lato;
    line-height: 30px;
    position: relative;
    border-left: 3px solid;
    border-right: 3px solid;
 }
 .tdborders{
    border-left: 3px solid;
    border-right: 3px solid;
 }

 .tdborders1{
    border-left: 3px solid;
    border-right: 3px solid;
    border-bottom: 3px solid;
 }

 .tdinners{
    background-color: rgb(39, 53, 73);
    width: 114%;
    top: -102px;
    left: -8px;
    font-size: 13px;
    border-radius: 15px 15px 0px 0px;
    line-height: 18px;
    padding: 10px;
    position: relative;
    z-index: 55;

 }
 .triangle {
    width: 17px;
    height: 17px;
    border: solid 1px;
    background-color: rgb(39, 53, 73);
    transform: rotate(45deg);
    top: -15px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    position: absolute;
}

    


 .tdinners h6{
     color: white;  
 }

 .tdinners h4{
    color: white; 
    font-size: 14px;
}

 .tableimgs img{
    max-width: 90px;
    max-height: 33px;
    height: auto;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
 }

 .hidecr{
    border: 1px solid white;
 }

 .hidecr td{
     border: 1px solid white;
     background-color: white !important;
     z-index: 50;
     width: 50px;
     height: 110px;
     border-top: 1px solid white;
 }

 .tdcontent{
    font-size: 14px;
    position: absolute;
    left: 0;
    right: 0;
    top: 9px;
    line-height: 18px;
 }
.tdcontent p span{
    display: block;
}


 td h2{
    font-size: 17px;
    line-height: 21px;
    margin: 8px;
 }


 td i{
     font-size: 25px;
 }

 td p{
     margin-bottom: 45px;
 }



 .check{  
     color: rgb(40, 64, 81);
     margin: 15px;
 }

 .tdmaininners{
     display: flex !important;
     flex-wrap: wrap;
     margin: 5px 0;
     justify-content: space-between;
     align-items: center;
 }

 .xmark{
     color: rgb(177, 177, 177);
     margin: 15px;
 }

 .tablebutton{
    padding: 13px 25px;
    border-radius: 10px;
    font-family: 'Lato';
    border: 0;
    letter-spacing: 1px;
    margin: 25px 0;
    background-color: rgb(225, 125, 34);
    color: white;
    cursor: pointer;
 }

 .nonvisible{
     border: 0;
    visibility: hidden;
 }




 @media(max-width: 1200px){
     .container1{
         width: 95%;
     }

    .navbar img{
        width: 15%;
    }

    .inners1{
        justify-content: flex-start;
    }

    .inners3{
        justify-content: flex-start;
    }

    .reviewimgs{
        height: 120px;
    }

    .container1inners{
        width: 100%;
        display: block;
    }
    

    .container1inners3_3 button{
        margin: 25px 0;
        background-color: rgb(225, 125, 34);
        color: white;
        padding: 15px;
        width: 100%;
        font-size: 30px;
        border: 0;
        border-radius: 15px;
        cursor: pointer;
    }
   .CR p{
       font-size: 15px;
   }
   .CR h2{
    font-size: 20px;
}

     .sleepinfo{
         font-size: 15px;
        
     }

     .container3inner h1 {
         margin: 4% 0;
     }
     
 }

 @media(max-width: 1600px){
    table{
        margin: 15% 2%
     }

     .reviewscont p{
        font-size: 10px;
     }
 }

 @media(max-width: 850px){

    .navbar img{
        width: 20%;
    }
    .container3inner h1 {
        margin: 7% 0;
    }

    table{
        margin: 20% 2%
     }

     .non{
        background-color: white !important;
        border-top: 1px solid white;
        border-left: 1px solid white;
        border-right: 1px solid white;
     } 

     .containertogether{
         width: 100%;
         display: block;
       
     }

     .container1inners4{
         max-height: 100% !important;
         display: block;
     }

     .mymainimg2{
        display: none;
    }
    .mymainimg1{
        display: block;
        margin: auto;
        text-align: center;
        max-width: 70%;
    }

    .container1inners1{
        flex-basis: 100%;
        max-width: calc(100% - 50px);
    }
    .img2{
        width: 15%;
        margin: 15px 0;
    }

    .container1inners2{
        flex-basis: 100%;
        max-width: calc(50% - 20px);
        margin: 30px 50px;
    }

    .container1inners2_1{
        width: 100%;
    }

    .container1inners3{
        display: none;
    }
    .container1inners3_3{
        display: block;
    }
  .accessories{
    width: 70%;
    margin: auto;
    border: 2px solid #dfdede;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
  }

  .btn{
      width: 70%;
      font-size: 20px;
      margin: auto;
  }

  .lines{
      display: block;
  }
  .hidder{
      display: none;
  }
  .CR{
    bottom: 20px;
    left: 2px;
    margin: 0;
    width: 188px;
    height: 62px;
  }
  .CR p {
      font-size: 10px;
  }
  .CR h2 {
    font-size: 13px;
    }

    .ranking{
    font-size: 22.4px;
    height: auto;
    line-height: 22px;
    width: 80px;
    }

    .ranking p{
    letter-spacing: 1.5px;
    font-size: 8px;
    text-align: center;
    padding: 0;
    margin-top: 5px;
    
    
    }

  .reviews{
      display: block;
  }

  hr{
      display: none;
  }
  .horizontalline{
      display: none;
  }

  .reviewimgs{
    border-radius: 5px;
    width: 160px;
    height: 120px;
    overflow: hidden;
    order: 1;
    display: flex;
    align-items: center;
  }

  .reviewscont p{
      font-size: 15px;
  }
  .reviewscont h3{
    font-size: 15px;
    line-height: 18px;
    padding-bottom: 5px;
  }

 }


 @media(max-width: 700px){
     .accessories h2{
         font-size: 20px;
     }
 }

 @media(max-width: 650px){

    .navbar img{
        width: 30%;
        margin: 3px 10px;
    }
    .container1inners3 button{
        font-size: 20px;
        padding: 15px;
    }


    .container3inner h1 {
        margin: 11% 0;
    }

    table{
        margin: 28% 2%
     }
 }

 @media(max-width: 500px){

    .inners1{
        justify-content: center !important;
    }

    .inners3{
        justify-content: center;
    }
    
    
     .horizonmobile{
         display: block;
     }

     .horizontalline{
         display: none;
     }

     table{
        margin: 39% 2%
     }

     /* .container1inners2_1 a h2{
        font-size: 14px;
        width: 100%;
        margin: 0 30px;

     } */

     .icontext{
         font-size: 19px;
     }

     .img2{
         width: 55%;
     }
 }

 @media(max-width: 550px){
     .accessoriesimg{
        display: flex;
        width: 100%;
        margin: auto;
     }

     .btn button{
         font-size: 25px;
     }
    
 }

 .top{
    width: 60px;
    height: 60px;
    background-color: rgb(39, 53, 73);
    position: fixed;
    bottom: 35px;
    right: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.top.active{
    visibility: visible;
}

.top i{
    color: white;
    font-size: 30px;
}

.show {
    display: block !important;
    animation:  fade 0.5s ease-in-out;
}

#information{
    animation:  fade 0.5s ease-in-out;
}


@keyframes fade {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.footermain{
    width: 100%;
    height: 75px;
    background-color: rgb(41, 46, 59);
}

.footermain1{
   text-align: center;
   
}

.footertext h4{
    font-family: Lato;
    color: rgb(183, 183, 183);
    font-size: 16px;
    line-height: 1.5;
    padding: 10px 0;
}

.footerlinks{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.footerlinks a {
    font-family: Lato-Light;
    font-size: 17px;
    color: white;
    padding: 0 2px;
}

.footerlinks a:hover{
    color: rgb(183, 183, 183);
    
}